*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(248, 183, 136);
    overflow: hidden;
    width: 100vw;
    height: 100hw;
}

.sky{
    background-image: linear-gradient(rgb(0, 81, 255)5%,rgb(103, 206, 201));
    height: 100vh;
    position: relative;
}
.soleil{
    width: 200px;
    height: 200px;
    background-image: radial-gradient(rgb(255, 255, 174),yellow);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    filter: blur(10px);
    
}

.nuage{
    position: relative;
    filter: blur(2px);
    animation: nuage 12s  ease-in ;
    animation-delay: 0.2s;
    top: 5%;
    left: -30%;
}
@keyframes nuage{
    0%{
        
    }
    100%{
        top: 20%; left:150%; rotate: 15deg;
    }

}
.nuage-1{
    position: absolute;
    width: 234px;
    height: 106px;
    background-color: beige;
    border-radius: 70%;
    top:100px ;
    left:300px ;
}
.nuage-2{
    position: absolute;
    width: 100px;
    height: 70px;
    background-color: beige;
    border-radius: 70%;
    top:90px ;
    left:354px ;
    
}
.nuage-3{
    position: absolute;
    width: 100px;
    height: 83px;
    background-color: beige;
    border-radius: 70%;
    top:100px ;
    left:289px ;
}
.nuage-4{
    position: absolute;
    width: 151px;
    height: 87px;
    background-color: beige;
    border-radius: 70%;
    top:118px ;
    left:288px ;
}
.nuage-5{
    position: absolute;
    width: 141px;
    height: 70px;
    background-color: beige;
    border-radius: 70%;
    top:148px ;
    left:354px ;
}
.nuage-6{
    position: absolute;
    width: 117px;
    height: 70px;
    background-color: beige;
    border-radius: 70%;
    top:100px ;
    left:421px ;
}
/*--------------------------------*/
.flowers{
    width: 700px;
    height: 500px;
    
    position: absolute;
    bottom: 0;
    left: 33%;
}
.sol{
    width: 600px;
    height: 80px;
    border-radius: 80%;
    background-color: olivedrab;
    position: absolute;
    bottom: -40px;
    left: 7%;
   
}
.tige-1{
    height: 200px;
    width: 33px;
    border-left: solid 5px green;
    border-top-left-radius: 30%;
    left: 50%;
    bottom: 10px;
    position: absolute;
    rotate: 2deg;
}


.coeur-1{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image:radial-gradient(rgb(252, 181, 89),rgb(231, 21, 109));
    left: 50%;
    bottom: 44%;
}
    
.petale{
    width: 15px;
    height: 50px;
    background-image: linear-gradient(orange,yellow);
    border-radius: 70%;

}
.petale-1{
    position: absolute;
    left: 52%;
    bottom: 51%;
    rotate: 8deg;
    animation-name: example-1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes example-1{
    0% {}

    100% {left:70%; bottom: 100vh; rotate: 209deg;}
}
.petale-2{
    position: absolute;
    left:44%;
    bottom: 43%;
    rotate: -82deg;
    animation-name: example-2;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes example-2{
    0% {}

    100% {left:20%; bottom: 100vh; rotate: 127deg;}
}
.petale-3{
    position: absolute;
    left: 57%;
    bottom: 48%;
    rotate: 53deg;
    animation-name: example-3;
    animation-duration: 5s;
    animation-delay: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes example-3{
    0% {}

    100% {left:-35%; bottom: 100vh; rotate: 303deg;}
}
.petale-4{
    position: absolute;
    left:47%;
    bottom: 49%;
    rotate: -42deg;
    animation-name: example-4;
    animation-duration: 5s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes example-4{
    0% {}

    100% {left:80%; bottom: 100vh; rotate: 290deg;}
}
.petale-5{
    position: absolute;
    left: 58%;
    bottom: 42%;
    rotate: 90deg;
    animation-name: example-5;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-direction: alternate;
    animation-iteration-count: 2;

}
@keyframes example-5{
    0% {}

    100% {left:40%px; bottom: 100vh; rotate: 290deg;}
}
.petale-6{
    position: absolute;
    left: 45%;
    bottom: 37%;
    rotate: -113deg;
    animation-name: example-6;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes example-6{
    0% {}

    100% {left:150%; bottom: 100vh; rotate: 123deg;}
}
.petale-7{
    position: absolute;
    left: 56%;
    bottom: 34%;
    rotate: 143deg;
    animation-name: example-7;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: 2;

}
@keyframes example-7{
    0% {}

    100% {left:66%; bottom: 100vh; rotate: 17deg;}
}
.tige-2{
    height: 213px;
    width: 20px;
    border-left: solid 3px rgb(8, 87, 8);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    left: 64%;
    bottom: 2%;
    position: absolute;
    rotate: 20deg;
    
}
.coeur-2{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image:radial-gradient(yellow,orange);
    left: 29%;
    bottom: 32%;
}
.petale-red{
    width: 20px;
    height: 45px;
    background-image: linear-gradient(rgb(94, 0, 0),rgb(196, 24, 24));
    border-radius: 70%;

}
.petale-8{
    position: absolute;
    left: 31%;
    bottom: 38%;
    rotate: 18deg;
    animation-name: example-8;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;

}
@keyframes example-8{
    0% {}

    100% {left:10%; bottom: 100vh; rotate: 153deg;}
}
.petale-9{
    position: absolute;
    left: 35%;
    bottom: 33%;
    rotate: 70deg;
    animation-name: example-9;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;

}
@keyframes example-9{
    0% {}

    100% {left:120%; bottom: 100vh; rotate: 296deg;}
}
.petale-10{
    position: absolute;
    left: 35%;
    bottom: 26%;
    rotate: 123deg;
    animation-name: example-10;
    animation-duration: 5s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-10{
    0% {}

    100% {left:15%; bottom: 100vh; rotate: 296deg;}
}
.petale-11{
    position: absolute;
    left: 30%;
    bottom: 22%;
    rotate: 184deg;
    animation-name: example-11;
    animation-duration: 5s;
    animation-delay: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-11{
    0% {}

    100% {left:82%; bottom: 100vh; rotate: 10deg;}
}
.petale-12{
    position: absolute;
    left: 25%;
    bottom: 24%;
    rotate: 232deg;
    animation-name: example-12;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-12{
    0% {}

    100% {left:37%; bottom: 100vh; rotate: 12deg;}
}
.petale-13{
    position: absolute;
    left: 23.5%;
    bottom: 31%;
    rotate: 277deg;
    animation-name: example-13;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
    
@keyframes example-13{
    0% {}

    100% {left:-43%; bottom: 100vh; rotate: 10deg;}
}
.petale-14{
    position: absolute;
    left: 26%;
    bottom: 37%;
    rotate: 328deg;
    animation-name: example-14;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-14{
    0% {}

    100% {left:76%; bottom: 100vh; rotate: 146deg;}
}
.tige-3{
    height: 140px;
    width: 20px;
    border-right: solid 3px rgb(11, 250, 11);
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    left: 34%;
    bottom: 4%;
    position: absolute;
    rotate: -20deg;
}
.coeur-3{
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-image:radial-gradient(rgb(196, 24, 24),rgb(94, 0, 0));
    left: 69%;
    bottom: 44%;
}
.petale-pink{
    width: 15px;
    height: 40px;
    background-image: linear-gradient(rgb(231, 21, 109),rgb(252, 181, 89));
    border-radius: 70%;

}
.petale-15{
    position: absolute;
    left: 65%;
    bottom: 46%;
    rotate: 302deg;
    animation-name: example-15;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-15{
    0% {}

    100% {left:5%; bottom: 100vh; rotate: 146deg;}
}
.petale-16{
    position: absolute;
    left: 64%;
    bottom: 41%;
    rotate: 264deg;
    animation-name: example-16;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-16{
    0% {}

    100% {left:98%; bottom: 100vh; rotate: 32deg;}
}
.petale-17{
    position: absolute;
    left: 66%;
    bottom: 36%;
    rotate: 216deg;
    animation-name: example-17;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    

}
@keyframes example-17{
    0% {}

    100% {left:23%; bottom: 100vh; rotate: 32deg;}
}
.petale-18{
    position: absolute;
    left: 70%;
    bottom: 35%;
    rotate: 172deg;
    animation-name: example-18;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    
}
@keyframes example-18{
    0% {}

    100% {left:95%; bottom: 100vh; rotate: 318deg;}
}
.petale-19{
    position: absolute;
    left:74%;
    bottom: 37%;
    rotate: 130deg;
    animation-name: example-19;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    
   

}
@keyframes example-19{
    0% {}

    100% {left:35%; bottom: 100vh; rotate: 26deg;}
}
.petale-20{
    position: absolute;
    left:75%;
    bottom: 43%;
    rotate: 66deg;
    animation-name: example-20;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
   
    
}
@keyframes example-20{
    0% {}

    100% {left:63%; bottom: 100vh; rotate: 260deg;}
}
.petale-21{
    position: absolute;
    left:72%;
    bottom: 48%;
    rotate: 27deg;
    animation-name: example-21;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: 2;
        
}
@keyframes example-21{
    0% {}

    100% {left:48%; bottom: 100vh; rotate: 172deg;}
}
.petale-22{
    position: absolute;
    left:68%;
    bottom: 49%;
    rotate: -17deg;
    animation-name: example-22;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    
}

@keyframes example-22{
    0% {}

    100% {left:-50%; bottom: 100vh; rotate: 200deg;}
}


h2{
    font-size: 50px;
    color: rgb(14, 0, 115);
    position: absolute;
    top: 25%;
    left: 10%;
    text-shadow: 2px -2px 3px rgba(230,209,187,0.92);
    animation: texte 12s  linear;
    z-index: 2;
}
@keyframes texte{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    65%{
        opacity: 1;
    }
    80%{
        opacity: 0.5;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}